@charset "UTF-8";


body {
	color: #FFF;
	background-image: url("../images/locations_background.png");
	background-repeat: no-repeat;
	background-size: auto;
}

.page-data {
	color: #5995DA;
	background-color: #D6E9FE;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;
}

/* Location Banner */
.location-banner-container {
	background-color: #DD6E42; /* Reddish*/
	padding: 50px 100px 20px 20px;
	display: flex;
	width: 100%;
	justify-content: flex-end;
	opacity: .65;
}

.location-banner {
	background: rgba(0, 0, 0, .35);
	color: #EAEAEA;
	font-weight: bold;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; /* For debugging */
	width: 400px;
}
/* Location Banner */

/* Location Details */
.location-details-container {
	background-color: #E8DAB2; /* Tan */
	padding: 20px 20px 20px 45px;
	display: flex;
	width: 100%;
	opacity: .65;
}

.location-details {
	background: rgba(0, 0, 0, .35);
	color: #EAEAEA;
	font-weight: bold;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; /* For debugging */
	width: 400px;
}

.locationName{
	text-decoration: underline;
}

.innerBox {
	background: #4F6D7A;
	color: #EAEAEA;
	font-weight: bold;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; /* For debugging */
	width: auto;
	margin: 5px;
}
/* Location Details */

/* Report List */
.report-list-container {
	background-color: #4F6D7A; /* Blue */
	padding: 20px 60px 20px 20px;
	display: flex;
	width: 100%;
	justify-content: flex-end;
	opacity: .65;
	flex-direction: row;
}

.current-report-details {
	background: rgba(0, 0, 0, .35);
	color: #EAEAEA;
	font-weight: bold;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; /* For debugging */
	width: 350px;
	height: auto;
}

.report {
	background: #4F6D7A;
	color: #EAEAEA;
	font-weight: bold;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; /* For debugging */
	width: auto;
	margin: 5px;
}

.report .reportLink {
	text-decoration: none !important;
}
/* Report List */