@charset "UTF-8";

 html, body {
	 height: 100%;
}
 body {
  color: #FFF;
  background-image: url("../images/locations_background.png"); 
	
}

.location-banner-container {
  color: #fff;
  background-color: #DD6E42;  /* Reddish*/
  padding: 20px 20px;
   display: flex;
}

.location-banner {
  border: 1px solid #fff;  /* For debugging */
  width: 900px;
}

.location-details-container {
  color: #fff;
  background-color: #E8DAB2;  /* Tan */
  padding: 20px 20px;
   display: flex;
   width: 300px;
   
}

.location-details {
  border: 1px solid #fff;  /* For debugging */
  width: 900px;
}

.report-list-container {
  color: #fff;
  background-color: #4F6D7A;  /* Blue */
  padding: 20px 20px;
  display: flex;
  
  
  
  width: 500px;
  position: relative;
  left: 50%;
  margin-left: -450px;
  top: 50%;
  margin-top: -50px;
}

.report-list-details {
  border: 1px solid #fff;  /* For debugging */
 width: 900px;
}






