@charset "UTF-8";

body {
	color: #FFF;
	background-image: url("../images/user_background.png");
	background-repeat: no-repeat;
	background-size: auto;
	display: block;
	
}

.page-data {
	/* color: #5995DA;
	background-color: #D6E9FE; */
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	overflow-y: scroll;
    
}

.searchResults {
	overflow-y: scroll;
	height:150px;
}

/* Location Banner */
.search-banner-container {
	/* background-color: #DD6E42; Reddish */
	padding: 50px 20px 20px 20px;
	display: flex;
	width: 100%;
	justify-content: flex-end;
	opacity: .65;
}

.search-banner {
	background: rgba(0, 0, 0, .85);
	color: #EAEAEA;
	font-weight: bold;
	padding: 10px;
	-moz-border-radius:  5px 5px 10px 40px;
	-webkit-border-radius:  5px 5px 10px 40px; /* For debugging */
	width: 700px;
	
}

.innerBox {
	background: #DD6E42;
	color: #EAEAEA;
	font-weight: bold;
	padding: 10px;
	-moz-border-radius: 5px 5px 10px 40px;
	-webkit-border-radius:  5px 5px 10px 40px; /* For debugging */
	width: auto;
	margin: 5px;
	border-right: 5px solid #E8DAB2;
}

.locationName{
	
	
}

.curDate{
	
}
/* Location Banner */

/* Search Results */
/* Center Screen */
.search-results-container {
	 
	padding: 50px 150px 150px 150px;
	display: flex;
	width: 100%;
	opacity: .65;
	flex-direction: row;
	justify-content: space-between;
	
}

.current-search-container {
	background: rgba(0, 0, 0, .75);
	color: #EAEAEA;
	font-weight: bold;
	padding: 10px;
	-moz-border-radius: 20px 20px 5px 5px;
	-webkit-border-radius: 20px 20px 5px 5px; /* For debugging */
	align-self: flex-start;
	justify-content: space-between;
	width: 500px;
	overflow-y: scroll;
	max-height: 700px;
	height: auto;
}

.search-details {
	background: #DD6E42;
	opacity: 90%;
	color: #EAEAEA;
	font-weight: bold;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; /* For debugging */
	width: auto;
	margin: 5px;
	border-left: 5px solid #E8DAB2;
}

.map-details-container {
	background: rgba(0, 0, 0, .85);
	color: #EAEAEA;
	display: flex;
	font-weight: bold;
	padding: 10px;
	-moz-border-radius: 20px 20px 5px 5px;
	-webkit-border-radius: 20px 20px 5px 5px; /* For debugging */
	width: 800px;
	max-width: 850px;
	height: auto;
	flex-direction: column;
}
#map {
        height: 600px;  /* The height is 400 pixels */
        width: auto;  /* The width is the width of the web page */
       }
/* Search Results*/

/* General Page Data */
.dataBlockHeaders {
	color: #E8DAB2;
	font-weight: bolder;
	text-shadow: 0px -2px 0px #333,
	0px 2px 3px #666;
}