@charset "UTF-8";


body {
	color: #FFF;
	background-image: url("../images/locations_background.png");
	background-repeat: no-repeat;
	background-size: auto;
}

.searchResults {
	overflow-y: scroll;
	height:150px;
}

.page-data {
	color: #5995DA;
	background-color: #D6E9FE;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;
}

/* Location Banner */
.search-banner-container {

	background-color: #DD6E42; /* Reddish*/
	padding: 20px 20px;
	display: flex;
	width: 100%;
	justify-content: flex-end;
}

.search-banner {
	background: rgba(0, 0, 0, .35);
	color: #EAEAEA;
	font-weight: bold;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; /* For debugging */
	width: 400px;
}
/* Location Banner */

/* Location Details */
.search-results-container {
	background-color: #E8DAB2; /* Tan */
	padding: 20px 20px;
	display: flex;
	width: 100%;
}

.search-details {
	background: rgba(0, 0, 0, .35);
	color: #EAEAEA;
	font-weight: bold;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; /* For debugging */
	width: 200px;
}
/* Location Details */

/* Report List */
.map-container {
	background-color: #4F6D7A; /* Blue */
	padding: 20px 20px;
	display: flex;
	width: 100%;
	justify-content: flex-end;
}

.map-details {
	background: rgba(0, 0, 0, .35);
	color: #EAEAEA;
	font-weight: bold;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; /* For debugging */
	width: 600px;
}
#map {
        height: 600px;  /* The height is 400 pixels */
        width: 150%;  /* The width is the width of the web page */
       }
/* Report List */