@charset "UTF-8";

 html, body {
	 height: 100%;
}
 body {
 color: #FFF;
  font-family: Helvetica;
  text-align: center;
  margin: 0;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 flex-direction: column;
	 position: relative;
	 font-size: 1.5em;
	 background-image: url("../images/search_background.png"); 
	 -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
 	 background-size: cover;
 	 width: 100vw;
  	 height: 100vh;
  	 margin: 0;
     padding: 0;
}

#main #searchResults {
	overflow-y: scroll;
    height: 460px;
    list-style-type: none;
}



#main {
	margin: auto;
	background: #706F74;
	padding: 20px;
	width: 300px;
	height: auto;
	opacity: 0.96;
	padding: 20px;
	
	border-radius: 15px;
	border-color: #A239CA;
	border-style: solid;
	border-width: 2px;
}
