@charset "UTF-8";


 body {
  color: #FFF;
  background-image: url("../images/locations_background.png"); 
  background-repeat: no-repeat;
  background-size: auto;
	
}


.page-data {
  color: #5995DA;
  background-color: #D6E9FE;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height:100%;
}

/* User Banner */
.user-banner-container {
  background-color: #DD6E42;  /* Reddish*/
  padding: 20px 20px;
   display: flex;
   width: 100%;
   justify-content: flex-end;
}

.user-banner {
   background: rgba(0, 0, 0, .35);
	color: #EAEAEA;
	font-weight: bold;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;  /* For debugging */
  width: 400px;
  
}
/* User Banner */

/* User Reports Details */
.user-reports-container{
  background-color: #E8DAB2;  /* Tan */
  padding: 20px 20px;
   display: flex;
   width: 100%;
   
}

.reports-details {
   background: rgba(0, 0, 0, .35);
	color: #EAEAEA;
	font-weight: bold;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;  /* For debugging */
  width: 200px;
}
/* User Reports Details */

/* Favorites List */
.favorites-container {
  background-color: #4F6D7A;  /* Blue */
  padding: 20px 20px;
   display: flex;
   width: 100%;
   
}

.favorites-details {
   background: rgba(0, 0, 0, .35);
	color: #EAEAEA;
	font-weight: bold;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;  /* For debugging */
  width: 150px;
}
/* Favorites List */